{
  "openapi": "3.0.0",
  "info": {
    "description": "# Introduction\n  \n  Equifax’s Consumer Credit Report is the leading consumer credit resource enabling lenders to make faster, more informed credit-granting decisions, better manage their risk and maximize growth opportunities. The Consumer Credit Report unites the power of superior consumer data with best-in-class search and match logic capabilities to deliver higher match rates on more inquiries.\n  \n# Getting Started\n\n1. **<a href=\"/user/applications\" target=\"_blank\">Create</a>** an application\n\n2. **<a href=\"/user/applications\" target=\"_blank\">Subscribe</a>** to Consumer Credit Report API\n\n3. **<a href=\"/products/consumer-credit-report\" target=\"_blank\">Explore</a>** the Sandbox environment\n\n# Promoting to UAT\n\nTo successfully submit test transactions through your application in the UAT environment, a test member number is required.  You may use your existing Equifax test member number(s).  Please contact your Equifax Account Representative if a new test member number is needed. The steps below can be used to test in the UAT environment.\n\nTransactions generated using a test member number do not return identical results as a sandbox transaction.  A sandbox transaction will reflect everything that is exposed in the API whereas a test member number is configured to align with the specifications of your contract. Please contact us to ensure your test member number is configured to your expectations.    \n\n1. **<a href=\"/user/applications\" target=\"_blank\">Promote</a>** application to test\n\n2. **<a href=\"/documentation\" target=\"_blank\">Update</a>** requests details for UAT\n\n3. **<a href=\"/documentation\" target=\"_blank\">Test</a>** scenarios in UAT environment\n\n\n# For More Details\n\n  * **<a href=\"/contact\" target=\"_blank\">Contact Us</a>** - Equifax Developer Center Support Website\n  * **ACRO Migration Support**\n      * phone: 1-888-407-0359; Option 2 followed by Option 5  \n      * email:  BT.Acro.tech@equifax.com\n      \n",
    "version": "1.0.0",
    "title": "Consumer Credit Report",
    "termsOfService": ""
  },
  "servers": [
    {
      "description": "DEVSANDBOX URL",
      "url": "https://api.sandbox.equifax.com/business/consumer-credit/v1/"
    }
  ],
  "paths": {
    "/reports/credit-report": {
      "post": {
        "tags": [
          "Consumer Credit Report"
        ],
        "operationId": "requestConsumerCreditReport",
        "security": [
          {
            "OAuth 2.0": [
              "scopes: https://api.equifax.com/business/consumer-credit/v1"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "efx-client-correlation-id",
            "description": "ID provided by client to uniquely track service request",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditReportRequest"
              },
              "examples": {
                "request": {
                  "$ref": "#/components/examples/CreditReportRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditReportResponse"
                },
                "examples": {
                  "response": {
                    "$ref": "#/components/examples/CreditReportResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                },
                "examples": {
                  "400.01": {
                    "$ref": "#/components/examples/400.01"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                },
                "examples": {
                  "401.03": {
                    "$ref": "#/components/examples/401.03"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                },
                "examples": {
                  "403.01": {
                    "$ref": "#/components/examples/403.01"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                },
                "examples": {
                  "404.01": {
                    "$ref": "#/components/examples/404.01"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                },
                "examples": {
                  "415.01": {
                    "$ref": "#/components/examples/415.01"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                },
                "examples": {
                  "500.01": {
                    "$ref": "#/components/examples/500.01"
                  }
                }
              }
            }
          },
          "501": {
            "description": "Not-implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                },
                "examples": {
                  "501.01": {
                    "$ref": "#/components/examples/501.01"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                },
                "examples": {
                  "503.01": {
                    "$ref": "#/components/examples/503.01"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Gateway timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIErrorResponse"
                },
                "examples": {
                  "504.01": {
                    "$ref": "#/components/examples/504.01"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth 2.0": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "FullDate": {
        "type": "string",
        "format": "date",
        "description": "Date in format MMDDYYYY where MM is the Month, DD is the day of the month and YYYY is the year",
        "minLength": 0,
        "maxLength": 8,
        "example": "MMDDYYYY"
      },
      "PartialDate": {
        "type": "string",
        "description": "Date in format MMYYYY where MM is the Month and YYYY is the year",
        "maxLength": 6,
        "example": "MMYYYY"
      },
      "TelephoneNumber": {
        "type": "string",
        "maxLength": 10,
        "description": "Telephone number including a valid area code"
      },
      "CreditorClassificationCode": {
        "type": "object",
        "minItems": 0,
        "maxItems": 2,
        "description": "A general type of business for the original creditor and is only applicable for trades reported by Debt Buyers\n",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code value"
          },
          "description": {
            "type": "string",
            "description": "Business type of original creditor\n  - 01: RETAIL\n  - 02: MEDICAL/HEALTH CARE\n  - 03: OIL COMPANY\n  - 04: GOVERNMENT\n  - 05: PERSONAL SERVICES\n  - 06: INSURANCE\n  - 07: EDUCATIONAL\n  - 08: BANKING\n  - 09: RENTAL/LEASING\n  - 10: UTILITIES\n  - 11: CABLE/CELLULAR\n  - 12: FINANCIAL\n  - 13: CREDIT UNION\n  - 14: AUTOMOTIVE\n  - 15: CHECK GUARANTEE\n  \n"
          }
        }
      },
      "NarrativeCodes": {
        "type": "array",
        "minItems": 0,
        "maxItems": 2,
        "items": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "description": "Code value"
            },
            "description": {
              "type": "string",
              "description": "Narrative codes and descriptions:\n  - AA: CONSUMER SAYS MERCHANDISE OR SERVICE UNSATISFACTORY\n  - AB: CONSUMER SAYS ACCOUNT PAID/BEING PAID BY INSURANCE\n  - AC: CONSUMER SAYS ACCT IS RESPONSIBILITY OF SEPARATED OR DIVORCED SPOUSE\n  - AE: CONSUMER SAYS ACCT. INVOLVED IN BUSINESS VENTURE HELD PERSONALLY LIAB\n  - AF: CONSUMER SAYS ACCOUNT INVOLVES LEASE AGREEMENT DISPUTE\n  - AG: CONSUMER DISPUTES ACCOUNT - LITIGATION PENDING\n  - AH: CONSUMER SAYS ACCOUNT SLOW DUE TO BILLING DISPUTE WITH CREDITOR\n  - AI: CONSUMER SAYS ACCOUNT SLOW DUE TO EMPLOYMENT ISSUES\n  - AJ: CONSUMER SAYS ACCOUNT SLOW DUE TO MEDICAL EXPENSES/ILLNESS\n  - AL: CONSUMER SAYS WARRANTY DISPUTE\n  - AM: VOLUNTARY SURRENDER; THERE MAY BE A BALANCE DUE\n  - AN: INVOLUNTARY REPOSSESSION\n  - AO: AUTO\n  - AP: COMMERCIAL ACCOUNT\n  - AQ: HOUSEHOLD GOODS\n  - AR: HOME LOAN\n  - AS: HOME IMPROVEMENT LOAN\n  - AT: CHECKING ACCOUNT LOAN PLAN\n  - AU: PERSONAL LOAN\n  - AV: CHARGE\n  - AW: SECURED BY HOUSEHOLD GOODS\n  - AX: PAID BY DEALER\n  - AY: VOLUNTARILY SURRENDERED – THEN REDEEMED OR REINSTATED\n  - AZ: AMOUNT IN H/C COLUMN IS CREDIT LIMIT\n  - BB: CONSUMER DISPUTES THIS ACCOUNT INFORMATION\n  - BC: ACCOUNT TRANSFERRED OR SOLD\n  - BD: PAID - CREDIT LINE CLOSED\n  - BE: CREDIT LINE CLOSED\n  - BG: CLAIM FILED WITH GOVERNMENT\n  - BH: DISPUTE - RESOLUTION PENDING\n  - BK: REDEEMED OR REINSTATED REPOSSESSION\n  - BL: CONSUMER SAYS ACCOUNT SLOW DUE TO DOMESTIC PROBLEMS\n  - BM: CONSUMER SAYS PAID ON NOTIFICATION - NO PRIOR KNOWLEDGE OF BALANCE DUE\n  - BN: CONSUMER SAYS CO-SIGNED ACCOUNT - NOT AWARE OF DELINQUENCY\n  - BO: CONSUMER SAYS NO STATEMENT RECEIVED DUE TO ADDRESS CHANGE\n  - BP: CONSUMER SAYS THIS ACCOUNT SPOUSE’S RESPONSIBILITY\n  - BQ: PAID CHARGE OFF\n  - BR: FORECLOSURE PROCESS STARTED\n  - BS: PAID OR BEING PAID BY GOVERNMENT GUARANTOR\n  - BT: LEASE\n  - BU: STUDENT LOAN\n  - BV: CONSUMER DISPUTE FOLLOWING RESOLUTION\n  - BW: INCLUDED IN BANKRUPTCY\n  - BX: PAYMENTS MANAGED BY FINANCIAL COUNSELING PROGRAM\n  - BY: COLLECTION AGENCY ACCOUNT - STATUS UNKNOWN\n  - BZ: ACCOUNT PAID FOR LESS THAN FULL BALANCE\n  - CA: CHARGE OFF - MAKING PAYMENTS\n  - CB: CHARGED OFF - CHECK PRESENTED WAS UNCOLLECTIBLE\n  - CD: CUSTOMER HAS NOW LOCATED CONSUMER\n  - CE: REFINANCED\n  - CF: CLOSED ACCOUNT\n  - CG: ACCOUNT CLOSED - REASON UNKNOWN\n  - CH: ACCOUNT PAID AFTER FORECLOSURE STARTED\n  - CI: INSURANCE CLAIM PENDING\n  - CJ: CUSTOMER UNABLE TO LOCATE CONSUMER\n  - CK: DEBIT CARD\n  - CL: PAID OR BEING PAID BY CO-SIGNER OR GUARANTOR\n  - CM: ACCOUNT ASSUMED BY ANOTHER PARTY\n  - CN: PAYING UNDER A PARTIAL PAYMENT AGREEMENT\n  - CP: CONSUMER SAYS PERSONAL BANKRUPTCY FILED DUE TO BUSINESS FAILURE\n  - CQ: PLTFF VERIFIED JUDGMENT PAID/SATISFACTION NOT RECORDED WITH COURT\n  - CS: SECURED CREDIT LINE\n  - CT: VOLUNTARY\n  - CU: INVOLUNTARY\n  - CV: LINE OF CREDIT\n  - CW: ACCOUNT CLOSED BY CREDIT GRANTOR\n  - CX: PAYMENT IS PAYROLL DEDUCTIBLE\n  - CY: ACCOUNT CHARGED TO PROFIT AND LOSS\n  - CZ: COLLECTION ACCOUNT\n  - DA: ACCOUNT CLOSED BY CONSUMER\n  - DB: CHARGED OFF ACCOUNT\n  - DC: CONSUMER SAYS ACCOUNT NOT PAID PROMPTLY - INSURANCE CLAIM DELAYED\n  - DD: BALANCE IS DEFICIENCY AMOUNT\n  - DE: CONSUMER SAYS ACCOUNT PAID IN FULL\n  - DG: TITLE 1 LOAN\n  - DH: BALANCE NOT PAID BY INSURANCE\n  - DI: BALANCE PAID OR BEING PAID BY INSURANCE COMPANY\n  - DJ: FORECLOSURE\n  - DK: PAID OR BEING PAID BY GARNISHMENT\n  - DL: CONSUMER RECALLED TO ACTIVE MILITARY DUTY\n  - DM: FORFEIT OF DEED IN LIEU OF FORECLOSURE\n  - DN: BROKEN LEASE AGREEMENT\n  - DO: BANKRUPTCY CHAPTER 13\n  - DP: CONVERSION LOSS PAID BY INSURANCE\n  - DQ: STUDENT LOAN - PAYMENT DEFERRED\n  - DS: SINGLE PAYMENT LOAN\n  - DT: AMORTIZED MORTGAGE\n  - DU: SHERIFF SALE\n  - DV: AMOUNT IN HIGH CREDIT INCLUDES FINANCE CHARGE\n  - DW: RETURN MAIL\n  - DX: BALANCE OWING - AMOUNT NOT REPORTED\n  - EA: PAID OR MAKING PAYMENTS - NOT ACCORDING TO TERMS OF AGREEMENT\n  - EB: LEASE - EARLY TERMINATION BY DEFAULT\n  - EC: HOME EQUITY\n  - ED: MAKING PAYMENT - FORECLOSURE WAS INITIATED\n  - EE: SECURED\n  - EF: REAL ESTATE MORTGAGE\n  - EG: GUARANTEED STUDENT LOAN\n  - EH: NATIONAL DIRECT STUDENT LOAN\n  - EI: CONSUMER DISPUTES ACCOUNT - LITIGATION FILED BY CREDITOR PENDING\n  - EJ: CONSUMER DISPUTES ACCOUNT - LITIGATION FILED BY CONSUMER PENDING\n  - EK: CHILD/FAMILY SUPPORT OBLIGATION\n  - EL: DEFENDANT VERIFIED ITEM PD/SATISFACTION NOT RECORDED WITH COURT\n  - EM: VOLUNTARY RETURN OF PURCHASE\n  - EP: FIXED RATE\n  - EQ: VARIABLE/ADJUSTABLE RATE\n  - ER: PAID COLLECTION\n  - ES: CHARGED BACK TO DEALER\n  - ET: PAID REPOSSESSION\n  - EU: SEE CONSUMER STATEMENT\n  - EV: BANKRUPTCY CHAPTER 11\n  - EX: UNSECURED\n  - EY: BUSINESS ACCOUNT - PERSONAL GUARANTEE\n  - EZ: HAS CO-SIGNER\n  - FA: CLOSED OR PAID ACCOUNT/ZERO BALANCE\n  - FB: INCLUDED IN ORDERLY PAYMENT DEBT\n  - FC: CREDIT LINE SUSPENDED\n  - FD: DEFAULTED STUDENT LOAN\n  - FE: CREDIT CARD\n  - FF: CONSUMER SAYS ACCOUNT NOT HIS/HERS\n  - FG: CONSUMER SAYS ACCOUNT NEVER LATE\n  - FH: CONSUMER SAYS THIS PUBLIC RECORD NOT HIS/HERS\n  - FL: CONSUMER SAYS THIS PUBLIC RECORD FILED IN ERROR\n  - FM: CONSUMER SAYS THIS PUBLIC RECORD ITEM SATISFIED OR RELEASED\n  - FO: CONSUMER SAYS BANKRUPTCY DISCHARGED\n  - FP: CONSUMER SAYS BANKRUPTCY DISMISSED\n  - FQ: CONSUMER SAYS CURRENT RATE/STATUS INCORRECT\n  - FR: MAKING PAYMENTS\n  - FS: ANNUAL PAYMENT\n  - FU: CHARGED OFF CHECKING ACCOUNT\n  - FV: PLTFF VERIFIED LIEN PD/RELEASE NOT RECORDED WITH COURT\n  - FW: CONSUMER DISPUTES – REINVESTIGATION IN PROGRESS\n  - FX: ACCOUNT LISTED AS PUBLIC RECORD\n  - FZ: ACCOUNT REINSTATED WITH LENDER\n  - GA: PAID BY COLLATERAL\n  - GB: ACCOUNT BEING PAID THROUGH WEP\n  - GC: ACCOUNT BEING PAID THROUGH FINANCIAL COUNSELING PLAN\n  - GD: ACCOUNT PAID THROUGH FINANCIAL COUNSELING PLAN\n  - GE: CONSUMER DISPUTES THIS ITEM\n  - GF: REAFFIRMATION OF DEBT\n  - GH: PLAINTIFF/COUNSEL VERIFIED JUDGEMENT PAID\n  - GI: UTILITY\n  - GJ: STUDENT LOAN ASSIGNED TO GOVERNMENT\n  - GK: AFFECTED BY NATURAL DISASTER\n  - GL: FIRST PAYMENT NEVER RECEIVED\n  - GM: ACCOUNT ACQUIRED BY FDIC/NCUA\n  - GN: GOVERNMENT DEBT\n  - GO: DEBT CONSOLIDATION\n  - GP: MANUFACTURED HOUSING\n  - GQ: RECREATIONAL MERCHANDISE\n  - GR: SECURED CREDIT CARD\n  - GS: MEDICAL\n  - HF: ACCOUNT CLOSED BY CONSUMER\n  - HL: 100% PAYMENT TO CREDITORS FILING CLAIMS\n  - HO: RETURNED CHECK\n  - HP: FHA MORTGAGE\n  - HQ: VA MORTGAGE\n  - HR: CONVENTIONAL MORTGAGE\n  - HS: SECOND MORTGAGE\n  - HT: AGRICULTURAL\n  - HU: COMMERCIAL MORTGAGE-INDIVIDUAL LIABLE, COMPANY IS GUARANTOR\n  - HV: DEPOSIT RELATED\n  - HW: CHILD/FAMILY SUPPORT\n  - HX: TRANSFERRED TO RECOVERY\n  - IB: LEASE - FULL TERMINATION\n  - IC: LEASE - EARLY TERMINATION\n  - ID: STATUS PENDING\n  - IE: FANNIE MAE ACCOUNT\n  - IF: FREDDIE MAC ACCOUNT\n  - IG: PREPAID LEASE\n  - IH: CONSUMER PAYS BALANCE IN FULL EACH MONTH\n  - II: PRINCIPAL DEFERRED/INTEREST PAYMENT ONLY\n  - IJ: PAYMENT DEFERRED\n  - IK: BANKRUPTCY VOLUNTARILY WITHDRAWN\n  - IL: BANKRUPTCY CHAPTER 7\n  - IM: BANKRUPTCY CHAPTER 12\n  - IN: REAFFIRMATION OF DEBT RESCINDED\n  - IP: CONSUMER DISPUTES THIS ACCOUNT INFORMATION\n  - IQ: CONSUMER DISPUTES AFTER RESOLUTION\n  - IR: ACCOUNT CLOSED AT CONSUMER’S REQUEST\n  - IT: ACCOUNT ACQUIRED FROM ANOTHER LENDER\n  - IZ: AMOUNT IN HIGH CREDIT IS ORIGINAL CHARGE-OFF AMOUNT\n  - JA: ELECTION OF REMEDY\n  - JD: CONSUMER DECEASED\n  - JE: ADJUSTMENT PENDING\n  - JF: INACTIVE ACCOUNT\n  - JG: DOLLAR AMOUNT IN EXCESS OF $1 BILLION\n  - JH: PERSONAL RECEIVERSHIP – REPAYMENT MANAGED BY COURT TRUSTEE\n  - JI: GUARANTEED/INSURED\n  - JJ: TIME SHARE LOAN\n  - JK: 120 DAYS PAST DUE\n  - JL: 150 DAYS PAST DUE\n  - JM: 180 DAYS OR MORE PAST DUE\n  - JN: PARTIALLY SECURED\n  - JO: NOTE LOAN\n  - JP: RENTAL AGREEMENT\n  - JQ: AUTO LEASE\n  - JR: TELECOMMUNICATIONS/CELLULAR\n  - JS: UNSECURED GOVERNMENT LOAN\n  - JT: SECURED GOVERNMENT LOAN\n  - JU: HOME EQUITY LINE OF CREDIT\n  - JV: ATTORNEY FEES\n  - JW: CONSTRUCTION LOAN\n  - JX: FLEXIBLE SPENDING CREDIT CARD\n  - JY: COMBINED CREDIT PLAN\n  - JZ: DEBT BUYER ACCOUNT\n  - KA: INSTALLMENT SALES CONTRACT\n  - KB: BANKRUPTCY PETITION\n  - KC: BANKRUPTCY DISCHARGED\n  - KD: BANKRUPTCY COMPLETED\n  - KE: LEASE ASSUMPTION\n  - KF: ACCOUNT PREVIOUSLY IN DISPUTE – NOW RESOLVED BY DATA FURNISHER\n  - KG: CHAPTER 7 BANKRUPTCY DISMISSED\n  - KH: CHAPTER 11 BANKRUPTCY DISMISSED\n  - KI: CHAPTER 12 BANKRUPTCY DISMISSED\n  - KJ: CHAPTER 13 BANKRUPTCY DISMISSED\n  - KK: CHAPTER 7 BANKRUPTCY WITHDRAWN\n  - KL: CHAPTER 11 BANKRUPTCY WITHDRAWN\n  - KM: CHAPTER 12 BANKRUPTCY WITHDRAWN\n  - KN: CHAPTER 13 BANKRUPTCY WITHDRAWN\n  - KO: BANKRUPCTY – UNDESIGNATED CHAPTER\n  - KP: ACCOUNT CLOSED DUE TO INACTIVITY\n  - KQ: CREDIT LINE NO LONGER AVAILABLE - IN REPAYMENT PHASE\n  - KR: CREDIT LINE REDUCED DUE TO COLLATERAL DEPRECIATION\n  - KS: CREDIT LINE SUSPENDED DUE TO COLLATERAL DEPRECIATION\n  - KT: COLLATERAL RELEASED BY CREDITOR/BALANCE OWING\n  - KU: LOAN MODIFIED UNDER A FEDERAL GOVERNMENT PLAN\n  - KV: LOAN MODIFIED\n  - KW: ACCOUNT IN FORBEARANCE\n  - KZ: ACCOUNT PAID IN FULL; WAS A VOLUNTARY SURRENDER\n  - LB: HOMEOWNERS ASSOCIATION (HOA)\n"
            }
          }
        }
      },
      "AlertContactAddress": {
        "type": "object",
        "description": "Contact's address information",
        "properties": {
          "addressLine1": {
            "type": "string",
            "maxLength": 50,
            "description": "House number, street name & street type"
          },
          "addressLine2": {
            "type": "string",
            "maxLength": 25,
            "description": "Apartment, condo, suite, or unit number"
          },
          "cityName": {
            "type": "string",
            "maxLength": 20,
            "description": "City name"
          },
          "stateAbbreviation": {
            "type": "string",
            "maxLength": 2,
            "description": "State name's abbreviation"
          },
          "zipCode": {
            "type": "string",
            "maxLength": 9,
            "description": "Zip code"
          },
          "countryCode": {
            "type": "string",
            "maxLength": 3,
            "description": "Country code"
          }
        }
      },
      "AddressRequest": {
        "type": "object",
        "required": [
          "identifier",
          "city",
          "state"
        ],
        "properties": {
          "identifier": {
            "type": "string",
            "example": [
              "Current",
              "Co-applicant",
              "Property address"
            ],
            "description": "Address type of the report subject"
          },
          "houseNumber": {
            "type": "string",
            "maxLength": 10,
            "description": "House number"
          },
          "quadrant": {
            "type": "string",
            "maxLength": 2,
            "description": "Quadrant"
          },
          "streetName": {
            "type": "string",
            "maxLength": 26,
            "description": "Street name"
          },
          "streetType": {
            "type": "string",
            "maxLength": 2,
            "description": "Street type",
            "example": [
              "AV",
              "ST"
            ]
          },
          "apartmentNumber": {
            "type": "string",
            "maxLength": 5,
            "description": "Apartment/Condo/Unit number"
          },
          "city": {
            "type": "string",
            "maxLength": 20,
            "description": "City name"
          },
          "state": {
            "type": "string",
            "maxLength": 2,
            "description": "State abbreviation"
          },
          "zip": {
            "type": "string",
            "maxLength": 9,
            "description": "Zip code"
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Subject's address(es) information",
        "properties": {
          "addressType": {
            "type": "string",
            "maxLength": 10,
            "enum": [
              "current",
              "former",
              "additional"
            ],
            "description": "The address type:\n  - current: Current Address. A maximum of 1 current Address can be returned per report\n  - former: Former Address. A maximum of 1 former Address can be returned per report\n  - additional: Additional Address. A maximum of 8 additional Addresses can be returned per report\n"
          },
          "houseNumber": {
            "type": "string",
            "description": "Street Number/House number",
            "maxLength": 10
          },
          "streetName": {
            "type": "string",
            "maxLength": 26,
            "description": "Street name"
          },
          "streetType": {
            "type": "string",
            "description": "Street type/Direction/Apartment number",
            "maxLength": 26
          },
          "cityName": {
            "type": "string",
            "maxLength": 20,
            "description": "City name"
          },
          "stateAbbreviation": {
            "type": "string",
            "maxLength": 2,
            "description": "State abbreviation"
          },
          "zipCode": {
            "type": "string",
            "maxLength": 9,
            "description": "Zip code"
          },
          "rentOwnBuy": {
            "type": "string",
            "maxLength": 1,
            "description": "Rent/Own/Buy"
          },
          "sourceOfAddress": {
            "type": "object",
            "description": "The source of address data",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "Sources of address:\n  - C: EQUIFAX\n  - D: OTH/Sys-Sys\n  - T: AUT\n"
              }
            }
          },
          "telephoneNumber": {
            "$ref": "#/components/schemas/TelephoneNumber"
          },
          "sourceOfTelephoneNumber": {
            "type": "object",
            "description": "Source of Telephone data",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "Sources of telephone number:\n  - 1: Special Vendor\n    \n  - 2: Equifax\n    \n  - 3: OTH/Sys-Sys\n    \n  - 4: Automated Update Indicator\n"
              }
            }
          },
          "addressVarianceIndicator": {
            "type": "object",
            "description": "The Address Variance Indicator will alert you to the differences between the address submitted current and other addresses displayed on the consumer report.The Address Variance Indicator will return a code, for each address displayed on the report, informing you of the degree to which the first address submitted in the inquiry matched the address on the Equifax database. Address Variance Indicator is an optional feature offered by Equifax.  Please contact your Equifax Sales Associate for additional information and activation.\n",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "addressLine1": {
            "type": "string",
            "maxLength": 62,
            "description": "Combination of address components"
          },
          "dateFirstReported": {
            "description": "First date the address was reported to Equifax",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "dateLastReported": {
            "description": "Last date the address was reported to Equifax",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "dateTelephoneReported": {
            "description": "Date the telephone number was reported to Equifax",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          }
        }
      },
      "APIErrorResponse": {
        "type": "object",
        "required": [
          "efxErrorCode",
          "description"
        ],
        "properties": {
          "efxErrorCode": {
            "type": "number",
            "description": "Error code"
          },
          "description": {
            "type": "string"
          },
          "additionalErrorDetails": {
            "$ref": "#/components/schemas/AdditionalErrorDetails"
          }
        }
      },
      "AdditionalErrorDetails": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "description": "Additional error details",
        "properties": {
          "status": {
            "type": "number",
            "description": "HTTP status code"
          },
          "errors": {
            "$ref": "#/components/schemas/ErrorResponse"
          },
          "code": {
            "type": "number",
            "description": "Internal code to identify the error"
          },
          "message": {
            "type": "string",
            "description": "Short error message"
          },
          "timeStamp": {
            "type": "string",
            "description": "Date and time when the error occurred"
          }
        }
      },
      "ErrorResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "required": [
            "code",
            "errorType"
          ],
          "description": "",
          "properties": {
            "code": {
              "type": "string",
              "description": "Error code types\\:\n\nCERR: Code Error Message Response \n\nNARRATIVE CODES:\n  - 001: CUSTOMER NUMBER/SECURITY CODE INVALID (DIAL)\n  - 002: TELEPROCESSING TYPE CODE INVALID\n  - 003: CUSTOMER CODE INVALID\n  - 004: INPUT FORMAT CODE INVALID\n  - 005: OUTPUT FORMAT CODE INVALID\n  - 006: NUMBER OF MONTHS TO COUNT INQUIRIES INVALID (DIAL)\n  - 007: NUMBER OF MONTHS TO COUNT MAXIMUM DELINQUENCIES INV. (DIAL)\n  - 008: INPUT FORMAT INVALID\n  - 009: ADDITIONAL INPUT INVALID UNTIL DIAL COMPLETE\n  - 010: CUSTOMER NUMBER INVALID/DTEC ONLY (DIAL)\n  - 015: ACCOUNT SUSPENDED DUE TO NON-PAYMENT. CALL 800-685-6000 FOR RESOLUTION\n  - 00A: MULTIPLE CODE INVALID\n  - 00B: INPUT FORMAT INVALID\n  - 00C: FILE SELECTION CODE INVALID\n  - 00D: DIAL LINE DOES NOT END WITH A PERIOD\n  - 00E: INVALID PLAIN/TRADITIONAL LANGUAGE REQUEST CODE - FIXED INPUT\n  - 00F: INDUSTRY CODE INVALID FOR ACCESS CODE (DIAL-ACIS)\n\n\nREQUEST CODES:\n  - 021: SEGMENT COUNT NOT EQUAL TO SEGMENTS IN\n  - 026: CUSTOMER NUMBER/SECURITY CODE INVALID (IDNT)\n  - 027: SEGMENT COUNT NON-NUMERIC\n  - 028: ECOA INQUIRY TYPE INVALID\n  - 029: TYPE OF PROCESSING CODE INVALID\n  - 032: INDUSTRY CODE INVALID FOR ACCESS CODE (IDNT-ACIS)\n  - 033: CUSTOMER NUMBER INVALID/DTEC ONLY (IDNT)\n  - 034: INVALID OPTIONAL FEATURE CODE\n  - 02A: NUMBER OF MONTHS TO COUNT INQUIRIES INVALID (IDNT)\n  - 02B: NUMBER OF MONTHS TO COUNT MAXIMUM DELINQ. INV. IDNT\n  - 02C: INVALID SEGMENT IDENTIFIER\n  - 02D: MINNESOTA FILES ARE BLOCKED\n  - 02E: CHARACTER NOT IN STANDARD CHARACTER SET\n  - 02F: INCOMPLETE IDNT SEGMENT\n  - 03A: IMPROPER DELIMITER ON ACRO INQUIRY\n  - 03B: CUSTOMER NUMBER IS EQUAL TO ‘IG’, ‘IL’ ‘IZ’ AND ‘ZB’ AND A PERMISSIBLE PURPOSE CODE IS NOT PRESENT\n  - 03C: REQUIRED FIELD IS MISSING ON “EU” SEGMENT\n  - 03D: MORE THAN ONE “EU” SEGMENT IS PRESENT ON IDNT\n  - 03E: CUSTOMER NUMBER IS NOT EQUAL TO A “ZB” AND “EU” IS PRESENT\n  - 03F: VERMONT FILES BLOCKED - CONTACT 1-800-685-5000 FOR REQUIRED CERTIFICATION\n  - 0E0: \\*\\*END USER NOT IDENTIFIED – CONTACT 1-800-685-5000 FOR INFORMATION\\*\\*\n  - 0EF: PERMISSIBLE PURPOSE CODE IS REQUIRED FOR THIS PRODUCT\n  - 0F1: PRODUCT NOT AVAILABLE TO INSURANCE INDUSTRY\n\n\nThe following refers to the first 42 bytes of the record:\n  - 101: INVALID CUSTOMER NUMBER\n  - 102: INVALID TELEPROCESSING TYPE\n  - 103: INVALID COMPANY CODE\n  - 104: INVALID INPUT/OUTPUT CODE\n  - 105: ACCOUNT SUSPENDED DUE TO NON-PAYMENT. CALL 800-685-6000 FOR RESOLUTION\n  - 1F1: LINE ONE DUPLICATE LINES\n  - 1F2: LINE ONE UNACCEPTABLE FOREIGN BUREAU LINE\n  - 1F3: LINE ONE INVALID LINE MNEMONIC\n  - 1F4: LINE ONE LONGER THAN 80 BYTES\n\n\nError codes used in the segment’s name portion:\n  - 201: INVALID LAST NAME\n  - 202: INVALID FIRST NAME\n  - 203: INVALID MIDDLE NAME\n  - 204: INVALID SUFFIX\n  - 205: INVALID SPOUSE NAME\n  - 2F1: LINE TWO DUPLICATE LINES\n  - 2F2: LINE TWO UNACCEPTABLE FOREIGN BUREAU LINE\n  - 2F3: LINE TWO INVALID LINE MNEMONIC\n  - 2F4: LINE TWO LONGER THAN 80 BYTES\n\n\nInquiry Search Information Error Codes:\n  - 031: INVALID PHONE NUMBER\n  - 401: INVALID SUBJECT SOCIAL SECURITY NUMBER\n  - 403: INVALID SUBJECT AGE\n  - 404: INVALID SUBJECT SEX\n  - 405: INVALID SPOUSE BIRTH DATE\n  - 406: INVALID SPOUSE SOCIAL SECURITY NUMBER\n  - 407: INVALID NUMBER OF DEPENDENTS\n  - 408: INVALID MARITAL STATUS\n  - 4F1: LINE FOUR DUPLICATE LINES\n  - 4F2: LINE FOUR UNACCEPTABLE FOREIGN BUREAU LINE\n  - 4F3: LINE FOUR INVALID LINE MNEMONIC\n  - 4F4: LINE FOUR LONGER THAN 80 BYTES\n  - 022: MAXIMUM NUMBER OF “AD” SEGMENTS EXCEEDED\n  - 025: AD SEGMENT DOES NOT FOLLOW IDNT SEGMENT    \n\n\nThe codes to follow refer to the first AD Segment:\n  - 301: INVALID STREET NUMBER\n  - 302: INVALID STREET NAME\n  - 303: INVALID STREET TYPE\n  - 304: INVALID CITY NAME\n  - 305: INVALID STATE CODE\n  - 306: INVALID ZIP CODE\n  - 307: INVALID FILE SINCE\n  - 308: INVALID R-O-B CODE\n  - 3F1: LINE THREE DUPLICATE LINES\n  - 3F2: LINE THREE UNACCEPTABLE FOREIGN BUREAU LINE\n  - 3F3: LINE THREE INVALID LINE MNEMONIC\n  - 3F4: LINE THREE LONGER THAN 80 BYTES\n\n\nThese next codes refer to the second AD Segment:\n  - 501: INVALID FORMER ADDRESS STREET NUMBER\n  - 503: INVALID FORMER ADDRESS STREET TYPE\n  - 504: INVALID FORMER ADDRESS CITY NAME\n  - 505: INVALID FORMER ADDRESS STATE CODE\n  - 506: INVALID FORMER ADDRESS ZIP CODE\n  - 507: INVALID FORMER ADDRESS DATE SINCE\n  - 508: INVALID FORMER ADDRESS R-O-B CODE\n  - 5F1: LINE FIVE DUPLICATE LINES\n  - 5F2: LINE FIVE UNACCEPTABLE FOREIGN BUREAU LINE\n  - 5F3: LINE FIVE INVALID LINE MNEMONIC\n  - 5F4: LINE FIVE LONGER THAN 80 BYTES\n  - 6F1: LINE SIX DUPLICATE LINES\n  - 6F2: LINE SIX UNACCEPTABLE FOREIGN BUREAU LINE\n  - 6F3: LINE SIX INVALID LINE MNEMONIC\n  - 6F4: LINE SIX LONGER THAN 80 BYTES   \n\n\nJA Segment Error Conditions:\n  - 032: MORE THAN ONE JA SEGMENT WAS FOUND  \n\n\nES Segment Error Conditions:\n  - 023: MORE THAN ONE ES SEGMENT ENCOUNTERED\n  - 024: ES SEGMENT DOES NOT FOLLOW AD SEGMENT\n  - 030: EMPLOYER NAME IS LONGER THAN 35 BYTES  \n\n\nEU Segment Error Conditions:\n  - 03B: CUSTOMER NUMBER IS EQUAL TO ‘IG’, ‘IL’, ‘IZ’ AND ‘ZB’ AND A PERMISSIBLE PURPOSE CODE IS NOT PRESENT\n  - 03C: TEXT OR PERMISSIBLE PURPOSE CODE NOT ON “EU” SEG\n  - 03D: MORE THAN ONE “EU” SEGMENT IS PRESENT ON IDNT\n  - 03E: CUSTOMER NUMBER IS NOT EQUAL TO A “ZB” AND “EU” IS PRESENT\n  - 0E0: \\*\\* END USER NOT IDENTIFIED – CONTACT 1-800-685-5000 FOR INFORMATION \\*\\*\n  - 0EF: PERMISSIBLE PURPOSE CODE IS REQUIRED FOR THIS PRODUCT\n  - 0F0: INVALID FCRA PERMISSIBLE PURPOSE OR GLB EXCEPTION FOR PRODUCT REQUESTED\n  - 0F1: PRODUCT NOT AVAILABLE TO INSURANCE INDUSTRY\n  - 602: LINE 6 FIELD 2 PROBLEM (DIAL SEGMENT = LINE 1)\n  - 702: INCORRECT PERMISSIBLE PURPOSE CODE      \n\n\nPC Segment Error Conditions:\n  - 0E2: INVALID PC CODE\n  - 0E3: MULTIPLE PC CODES NOT ALLOWED\n  - 0E4: ZIP CODE IS A REQUIRED FIELD\n  - 0E5: PC SEGMENT REQUIRED WITH PI\n  - 0E6: ONLY ONE PC SEGMENT ALLOWED\n  - 0E9: MAXIMUM ALLOWANCE OF PC CODES EXCEEDED\n  - 0EA: RISKWISE AUTHORIZATION REQUIRED – CONTACT YOUR SALES REP\n  - 0EB: FRAUD ADVISOR NOT AVAILABLE – CONTACT YOUR SALES REP\n  - 0EC: ID ADVISOR NOT AVAILABLE – CONTACT YOUR SALES REP\n  - 0ED: ID ADVISOR PLUS NOT AVAILABLE – CONTACT YOUR SALES REP\n  - 0EE: MARKETMAX NOT AVAILABLE – CONTACT YOUR SALES REP   \n\n\nPI Segment Error Conditions:\n  - 0E5: PC SEGMENT REQUIRED WITH PI\n  - 0E7: ONLY ONE PI SEGMENT ALLOWED\n  - 0E8: INVALID OR INCOMPLETE DATA ON PI SEGMENT    \n\n\nProcessing Error Codes (Processing Error Codes apply to the Fixed Inquiry Format.):\n  - 002: NO RECORD FOUND - CHECK INPUT FOR ACCURACY, IF SOCIAL AVAILABLE TRY DTEC\n  - 003: ERROR IN MASTER RECORD - CONTACT EQUIFAX AUTOMATED DELIVERY SYSTEMS\n  - 006: SPOUSE NAME REQUIRED FOR JOINT FILE ACCESS\n  - 008: THIS AREA OF RECORDS TEMPORARILY UNAVAILABLE - PLEASE TRY LATER\n  - 009: THIS AREA OF RECORDS TEMPORARILY UNAVAILABLE - PLEASE TRY LATER\n  - 00A: YOUR TRANSACTION WAS NOT COMPLETED - ERROR HAS OCCURRED IN SEARCHING FILE\n  - 014: RE-ENTER YOUR ENTIRE TRANSACTION - FILE HAS BEEN CHANGED SINCE YOU INQUIRED\n  - 015: CONTACT EQUIFAX - AUTOMATED DELIVERY SYSTEMS\n  - 01B: YOUR NM LINE IS INVALID\n  - 01C: YOUR ADDRESS LINE IS INVALID\n  - 01D: CURRENT AND FORMER ADDRESS BOTH OUT OF AREA\n  - 021: ERROR IN PREPARING YOUR FORM - RE-ORDER FORM - BILLING AND MAINTENANCE IS OK\n  - 02B: CA - CITY OR STATE IS MISSPELLED OR NOT IN ACROPAC SYSTEM\n  - 02C: FA - CITY OR STATE IS MISSPELLED OR NOT IN ACROPAC SYSTEM\n  - 02D: F2 - CITY OR STATE MISSPELLED OR NOT IN ACROPAC SYSTEM\n  - 02E: THIS AREA OF RECORDS TEMPORARILY UNAVAILABLE - PLEASE TRY LATER\n  - 03A: NO ADDITIONAL BILLING ENTRIES ALLOWED WITH BILL - NO\n  - 03E: YOUR REPLY IS INVALID SINCE IT HAS ALREADY BEEN ENTERED ON THIS TRANSACTION\n  - 040: NOT AUTHORIZED TO RECEIVE THIS PRODUCT\n  - 045: PROGRAM ERROR - PRINT TOTAL TRANSACTION AND NOTIFY AUTOMATION DIVISION (CONTACT BUREAU)\n  - 046: ADDRESS - CITY OR STATE IS MISSPELLED OR NOT IN ACROPAC SYSTEM\n  - 04A: INVALID SECURITY CODE - USE YOUR CORRECT CODE\n  - 06E: INVALID REQUEST\n  - 076: CONTACT BUREAU SUPERVISOR - FILE EXCEEDS MAXIMUM LENGTH\n  - 077: CANCELED CUSTOMER NUMBER - CONTACT EQUIFAX SALES DEPARTMENT\n  - 078: SECURITY VIOLATION - UNAUTHORIZED TRANSACTION TYPE\n  - 079: UNABLE TO BUILD SUMMARY OUTPUT FOR THIS RECORD\n  - 07A: UNABLE TO BUILD TOTALVIEW FULL-FILE FIXED OUTPUT FOR THIS RECORD\n  - 07B: UNABLE TO BUILD PRINT IMAGE OUTPUT FOR THIS RECORD\n  - 07C: INSUFFICIENT INFORMATION FOR FILE SEARCH – ADDITIONAL DATA IS NEEDED\n  - 0A3: SOCIAL SECURITY NUMBER IS REQUIRED TO ACCESS PUERTO RICO FILES\n  - 0A4: NO RECORD SUBJECT (JOINT FILE ACCESS) - CHECK INPUT FOR ACCURACY, IF SOCIAL AVAILABLE TRY DTEC\n  - 0A5: NO RECORD SPOUSE (JOINT FILE ACCESS) - CHECK INPUT FOR ACCURACY, IF SOCIAL AVAILABLE TRY DTEC\n  - 0A7: COMBINED FILE IS TOO LARGE FOR PROCESSING. PLEASE RE-SUBMIT USING ONLY CANADIAN ADDRESS\n  - 0A8: NO CANADIAN ADDRESS IN THE INQUIRY.\n  - 0A9: CANADIAN FILE NOT AVAILABLE IN ACROFILE PLUS FORMAT\n  - 0C6: SOCIAL SECURITY NUMBER REQUIRED ON INPUT WHEN USING MILITARY ADDRESS\n  - 0E1: VERMONT FILES BLOCKED - CONTACT 1-800-685-5000 FOR REQUIRED CERTIFICATION\n  - 0F0: INVALID FCRA PERMISSIBLE PURPOSE OR GLB EXCEPTION FOR PRODUCT REQUESTED\n  - 0F9: CURRENT ADDRESS ON FILE IS MINNESOTA - FILE BLOCKED\n  - 4F5: INVALID ACCOUNT NUMBER\n\n\nMERR: Model Data Response Error\n\nNARRATIVE CODES:\n  - M00010: Model Segment Invalid\n  - M20010: Invalid Model Segment Input Data.\n  - M20020: Message will be one of the following five:\n  - M20030:\n  - M20040: Invalid Alpha-nn\n  - M20050: Invalid Numeric-nn\n  - M20060: Invalid Alpha/Numeric-nn\n  - M20070: Invalid Date-nn\n  - M20080: Invalid Length-nn\n  - M20100: Where “nn” and the 4th and 5th digits of the error number indicate which “MD” field that is error\n  - M20400: Member Number is not Authorized for Model Delivery\n  - M20500: “MD” Segment contains Invalid Number of Input Fields\n  - M20600: Error in Report ID not using a prescreen\n  - M20700: Error in Report ID multi model Not G,P, or DDT09\n  - M20800: Error conflicting report Ids in the MAT table set up\n"
            },
            "errorType": {
              "type": "string",
              "description": "Error type",
              "enum": [
                "CERR",
                "MERR"
              ]
            },
            "message": {
              "type": "string",
              "description": "Error description"
            }
          }
        }
      },
      "equifaxUSConsumerCreditRequest": {
        "type": "object",
        "description": "Configuration related to the customer request",
        "required": [
          "memberNumber",
          "securityCode"
        ],
        "properties": {
          "memberNumber": {
            "type": "string",
            "minLength": 10,
            "maxLength": 10,
            "description": "This is your Equifax Customer Number. This number is used to both access and invoice for Equifax data, products and services. Please contact your Equifax Sales Associate for additional information and activation.\n"
          },
          "securityCode": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Security code"
          },
          "codeDescriptionRequired": {
            "description": "Request code descriptions",
            "type": "boolean"
          },
          "endUserInformation": {
            "type": "object",
            "description": "Customers using an \"IG\", \"IL\", \"IZ\" or \"RT\" Industry Code are only required to send the appropriate Permissible Purpose Code. Customers using a \"ZB\" or \"ZT\" Industry Code must include both the \"End Users Name\" and the applicable Permissible Purpose code.\n",
            "required": [
              "endUsersName",
              "permissiblePurposeCode"
            ],
            "properties": {
              "endUsersName": {
                "type": "string",
                "maxLength": 20,
                "description": "Company name of the final recipient of the consumer report making the request"
              },
              "permissiblePurposeCode": {
                "type": "string",
                "maxLength": 2,
                "description": "Code to audit the purposes for which Equifax consumer information is furnished thus providing continued compliance with the FCRA\n  - 01: Intends to use the information as a potential investor servicer or current insurer in connection with a valuation of or assessment of the credit or prepayment risks.\n  - 03: In accordance with written instructions of the consumer to whom it relates.\n  - 04: In connection with a collection transaction involving a credit account of the consumer.\n  - 05: In response to an agency administering a state plan under Section 454 of the Social Security Act (42 U.S.C. 654) for use to set an initial or modified child support award.\n  - 06: In accordance with written instructions of the consumer through a reseller.\n  - 07: In response to a request by the head of a state or local child support enforcement agency (or a state or local government official authorized by the head of such an agency) that has met all requirements of Section 604(a)(4)(ABCD).\n  - 08: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer. For use only when the transaction cannot be described with a more specific code.\n  - 09: For employment purposes (Only PERSONA is available with this code)\n  - 10: In connection with a determination of eligibility for a license or other benefit granted by a governmental instrument required by law to consider financial responsibility or status.\n  - 11: In connection with the underwriting of insurance.\n  - 12: In connection with the review of existing policy holders for insurance underwriting purposes.\n  - 13: A legitimate business need to review an account to determine whether the consumer continues to meet the terms of the account.\n  - 14: In response to the order of a court having jurisdiction or a subpoena issued by a federal grand jury.\n  - 15: In connection with a tenant screen application involving the consumer.\n  - 16: For use by a governmental agency pursuant to FCRA Section 608.\n  - 17: To protect against or prevent actual or potential fraud unauthorized transactions claims or other liability.\n  - 18: For required institutional risk control or for resolving consumer disputes or inquiries.\n  - 19: Due to holding a legal or beneficial interest relating to the consumer.\n  - 20: To law enforcement agencies or for an investigation on a matter related to public safety.\n  - 21: As necessary to effect administer or enforce a transaction; to underwrite insurance at the consumer’s request for reinsurance purposes or for the following purposes related to the consumer’s insurance;  account administration reporting investigating fraud prevention premium payment processing claim processing benefit administration or research projects.\n  - 22: To persons acting in a fiduciary or representative capacity on behalf of and with the consent of the consumer.\n  - 23: As necessary to effect administer or enforce a transaction requested or authorized by the consumer including location for collection of a delinquent account.\n  - 24: In conjunction with access to a commercial file on a sole proprietorship.\n  - 25: In conjunction with access to a commercial file on a corporation where specific consumer consent is given.\n  - 26: In connection with a credit transaction involving the extension of credit to or review or collection of an account of the consumer where the medical information to be furnished is relevant to process or effect the transaction and specific consumer consent was provided for the furnishing of the consumer report that describes the use of which the medical information will be furnished.\n  - 27: For employment purposes where the medical information to be furnished is relevant to process or effect the transaction and specific consumer consent was provided for the furnishing of the consumer report that describes the use for which the medical information will be furnished. \n  - 28: In connection with the underwriting of insurance. Specific consumer consent was given for the release of medical information contained within the consumer report.\n  - 29: In connection with a transaction where the credit file including any medical information in it is only to be provided directly to the individual consumer to whom the information relates and specific consumer consent was received for the receipt and furnishing of the consumer report including medical information to the consumer.\n  - 51: In accordance with written instructions of the consumer providing consent for use related to bankruptcy filing purposes.\n  - 52: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to an automobile or truck.\n  - 53: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to automotive repair.\n  - 54: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to automotive parts tires etc.\n  - 55: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to a boat or recreational vehicle.\n  - 56: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to farm equipment.\n  - 57: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to a mortgage loan origination.\n  - 58: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to a mortgage loan refinancing.\n  - 59: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to a home equity loan line of credit.\n  - 60: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to a personal loan.\n  - 61: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to a credit card.\n  - 62: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to home furnishings.\n  - 63: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to general contracting / home improvement.\n  - 64: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to air conditioning / heating / plumbing or electrical.\n  - 65: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to lumber / building materials / hardware.\n  - 66: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to hospitalization / medical care / dental care.\n  - 67: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to personal services.\n  - 68: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to home heating oil / fuel.\n  - 69: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to telephone / electrical / gas / water utilities or household garbage removal.\n  - 70: In connection with a credit transaction involving the consumer and for the extension of credit or review or collection of an account of the consumer related to wholesale goods.\n  - 71: For the purpose of providing a consumer with a copy of his/her consumer report or credit score upon the consumer’s request.\n  - 72: For the purpose of administering a credit file or credit score monitoring service to which the consumer has subscribed.\n  - 73: For use by a housing counseling agency where the consumer has provided his / her specific consent.\n  \n"
              }
            }
          },
          "productCodes": {
            "type": "array",
            "maxItems": 20,
            "description": "Codes related to the optional Equifax products \\: Please contact your Equifax Sales Associate for additional information and activation of the desired optional services. Product code values include:\n  - 01: Equifax Fraud Advisor 2.0 and up to 4 warning codes with Consumer report\n  - N1: Equifax Fraud Advisor 2.0 and up to 4 warning codes without Consumer report\n  - 03: Equifax ID Advisor Plus Raw Data returned with Consumer report\n  - N3: Equifax ID Advisor Plus Raw Data returned without Consumer report\n  - 08: Fraud Advisor 2.0 = Fraud Advisor with ID Advisor Plus Raw Data returned on high \\# risk group only (scores of 1-5) with Consumer report\n  - N8: Fraud Advisor 2.0 = Fraud Advisor with ID Advisor Plus Raw Data returned on high \\# risk group only (1-5) without Consumer report\n  - 10: Fraud Advisor 2.0 = Fraud Advisor with ID Advisor Plus Raw Data returned on all \\# risk groups (scores of 1-9) with Consumer report\n  - NA: Fraud Advisor 2.0 = Fraud Advisor with ID Advisor Plus Raw Data returned on all \\# risk groups (scores of 1-9) without Consumer report\n  - MM: MarketMax with a Consumer Report\n  - NZ: MarketMax without a Consumer Report\n  - 31: ID Score® - Risk with Consumer report\n  - 32: ID Score® - Risk without Consumer report\n",
            "items": {
              "type": "string",
              "maxLength": 2
            }
          },
          "productInformation": {
            "type": "object",
            "properties": {
              "driverLicenseNumber": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "identifier": {
                      "type": "string",
                      "example": [
                        "Current",
                        "Co-applicant"
                      ],
                      "description": "Owner of the drivers license"
                    },
                    "driverLicenseNumber": {
                      "type": "string",
                      "maxLength": 25,
                      "description": "Subject's drivers license number"
                    }
                  }
                }
              },
              "coApplicantDateOfBirth": {
                "description": "Co-applicant's birth date",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FullDate"
                  }
                ]
              }
            }
          },
          "models": {
            "description": "Model Score",
            "type": "array",
            "minItems": 0,
            "maxItems": 20,
            "items": {
              "type": "object",
              "properties": {
                "identifier": {
                  "type": "string",
                  "maxLength": 5,
                  "description": "Model number"
                },
                "modelField": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Model field associated with custom models"
                  }
                }
              }
            }
          },
          "customerCode": {
            "type": "string",
            "maxLength": 4,
            "description": "Assigned customer code"
          },
          "multipleReportIndicator": {
            "type": "string",
            "maxLength": 1,
            "example": [
              "1",
              "F"
            ],
            "description": "Indicates if the report allows more than 1 credit report\n  - 1: one report\n  - F: multiple reports (Puerto Rico only)\n"
          },
          "ECOAInquiryType": {
            "type": "string",
            "example": [
              "Individual",
              "Co-applicant"
            ],
            "description": "Type of inquiry"
          },
          "optionalFeatureCode": {
            "description": "The optional features requested in the credit report. Please contact your Equifax Sales Associate for additional information and activation Optional feature code:\n  - B: Military Lending Act with Credit Data\n  - D: ON-LINE DIRECTORY or ON-LINE DIRECTORY w/Address\n  - G: Dimensions Data\n  - M: Return Risk-Based Pricing score information in the FICO and Model Segments\n  - Q: Return Risk-Based Pricing score information in the FICO segment only\n  - V: Enhanced Delinquency Alert System (EDAS) & FICO Score based on Equifax Data\n  - X: FICO Score based on Equifax Data\n  - Z: Enhanced Delinquency Alert System (EDAS)\n  - &: FraudIQ Synthetic ID Alerts\n",
            "type": "array",
            "maxItems": 18,
            "items": {
              "type": "string",
              "maxLength": 2
            }
          },
          "vendorIdentificationCode": {
            "type": "string",
            "maxLength": 2,
            "description": "Required for all third-party channel partners and vendors who support end-customer access to Equifax products and services"
          },
          "riskModelCodeOnly": {
            "type": "string",
            "description": "It can be one of the following indicators:\n  \n Pre-screen of One model request\n - ^: For a single prescreen model\n       \n - %: For multiple prescreen models\n In-Person rules require that 3 or more items in the request match to a consumer's file to be considered a hit/match.\n - P: In Person rules apply based on the state code in the request\n       \n - Q: In Person rules apply based on the state code in the Current Address on the file\n Mortgage Reissue \n - M: if Mortgage Reissue is requested this indicator is required. Used by the mortgage industry when a consumer’s credit report is reissued to another company for additional services. \n"
          }
        }
      },
      "CreditReportRequest": {
        "type": "object",
        "required": [
          "consumers",
          "customerConfiguration"
        ],
        "properties": {
          "consumers": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "array",
                "description": "Consumer name",
                "items": {
                  "type": "object",
                  "required": [
                    "identifier",
                    "lastName",
                    "firstName"
                  ],
                  "properties": {
                    "identifier": {
                      "type": "string",
                      "default": "Current",
                      "example": [
                        "Current",
                        "Co-applicant"
                      ],
                      "description": "Record identifier"
                    },
                    "firstName": {
                      "type": "string",
                      "maxLength": 15,
                      "description": "First name"
                    },
                    "lastName": {
                      "type": "string",
                      "maxLength": 25,
                      "description": "Last name"
                    },
                    "middleName": {
                      "type": "string",
                      "maxLength": 15,
                      "description": "Middle name or initial"
                    },
                    "suffix": {
                      "type": "string",
                      "maxLength": 2,
                      "description": "Suffix"
                    }
                  }
                }
              },
              "socialNum": {
                "type": "array",
                "description": "Social Security Number",
                "items": {
                  "type": "object",
                  "required": [
                    "identifier",
                    "number"
                  ],
                  "properties": {
                    "identifier": {
                      "type": "string",
                      "default": "Current",
                      "example": [
                        "Current",
                        "Co-applicant"
                      ],
                      "description": "Record identifier"
                    },
                    "number": {
                      "type": "string",
                      "minLength": 0,
                      "maxLength": 9,
                      "description": "Social Security Number (SSN)"
                    }
                  }
                }
              },
              "dateOfBirth": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FullDate"
                  }
                ],
                "description": "Date of Birth"
              },
              "age": {
                "type": "string",
                "maxLength": 2,
                "description": "Age"
              },
              "addresses": {
                "type": "array",
                "minItems": 1,
                "maxItems": 3,
                "description": "Address information. A maximum of 2 addresses can be sent per inquiry. If socialNum is not provided, the houseNumber, streetName, city and state are required",
                "items": {
                  "$ref": "#/components/schemas/AddressRequest"
                }
              },
              "phoneNumbers": {
                "type": "array",
                "minItems": 0,
                "maxItems": 2,
                "items": {
                  "type": "object",
                  "required": [
                    "identifier",
                    "number"
                  ],
                  "properties": {
                    "identifier": {
                      "type": "string",
                      "example": [
                        "Current",
                        "Co-applicant"
                      ]
                    },
                    "number": {
                      "type": "string",
                      "maxLength": 10
                    }
                  }
                }
              },
              "employments": {
                "type": "object",
                "properties": {
                  "occupation": {
                    "type": "string",
                    "maxLength": 35,
                    "description": "Occupation"
                  },
                  "employerName": {
                    "type": "string",
                    "maxLength": 35,
                    "description": "Employer"
                  }
                }
              }
            }
          },
          "externalDataSources": {
            "type": "object",
            "properties": {
              "alternateDataSources": {
                "type": "object",
                "required": [
                  "consumerReportIndicator"
                ],
                "properties": {
                  "consumerReportIndicator": {
                    "type": "boolean"
                  },
                  "customerOrchestrationCode": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "customerOrganizationCode": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "dataProviderTag": {
                    "type": "string",
                    "maxLength": 10
                  }
                }
              }
            }
          },
          "customerReferenceIdentifier": {
            "type": "string",
            "minLength": 0,
            "maxLength": 20,
            "description": "Unique identifier provided by customer"
          },
          "customerConfiguration": {
            "description": "Configurations related to the credit report being requested",
            "type": "object",
            "properties": {
              "equifaxUSConsumerCreditReport": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/equifaxUSConsumerCreditRequest"
                  }
                ]
              }
            }
          }
        }
      },
      "Bankruptcy": {
        "type": "object",
        "description": "Details associated with bankruptcy",
        "properties": {
          "customerNumber": {
            "type": "string",
            "maxLength": 10,
            "description": "Court customer number"
          },
          "type": {
            "type": "string",
            "maxLength": 1,
            "example": [
              "B",
              "I"
            ],
            "description": "Type of bankruptcy:\n- B: Business\n- I: Individual\n"
          },
          "filer": {
            "type": "string",
            "maxLength": 1,
            "example": [
              "I",
              "J",
              "W"
            ],
            "description": "How filed:\n- I: Individual\n- J: Joint\n- W: Spouse\n"
          },
          "industryCode": {
            "title": "IndustryCode",
            "type": "string",
            "description": "Industry code"
          },
          "currentIntentOrDispositionCode": {
            "type": "object",
            "description": "Indicates the chapter type and the current status of the bankruptcy",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "Chapter types and current status:\n- A: DISCHARGED CH-7 The amount owed was included in the “order of relief.” Debtor no longer liable for debts listed in “order of relief.”\n- C: CH-13 FILED Adjustment of debts of an individual with consistent income. Debtor petitions the court for permission to pay a percent of his income over a period of years until debt is satisfied (usually not over three years).\n- D: CH-11 FILED Business Reorganization. Business debtor is granted relief from payment under terms of initial contract reorganization period.\n- E: DISMSD/CLSD CH11 Petition for reorganization of debt has been withdrawn by debtor or honored - subject liable for debts.\n- F: DISCHARGED CH-11 Petition by debtor for complete relief of all debts is honored. Debtor no longer liable for debts listed in “order of relief.”\n- G: CH-12 FILED The Chapter 12 plan applies only to family farmers who have regular annual incomes sufficient to make payments under a proposed plan. Payment under the plan must be completed in three years. In certain situations, payment of no longer than five years is permitted.\n- H: DISCHARGED CH-12 A discharge is entered after the completion of all payments under the plan. However, certain payments on some long term claims, which are due after the last payment under the plan, will continue after the date of discharge.\n- I: INVOLUNTARY CH-7 The debtor is forced into bankruptcy by the petition of a sufficient number of his creditors.\n- J: DISMSD/CLSD CH12 The court may dismiss the plan or terminate the plan for various reasons, including unreasonable delays, gross mismanagement, non payment of any fees and charges, failure to file a plan in a timely manner, failure to make timely payments required by a confirmed plan, denial of confirmation or request made for additional time, and so forth.\n- K: DISMSD/CLSD CH13 The petition by debtor for permission to pay a percent of his income over a period of years has been withdrawn by debtor or has not been followed by debtor. Debtor remains liable for his debts under initial terms of the contract.\n- L: DISCHARGED CH-13 Plan by debtor to pay percent of income over a period of years has been completed. Debtor no longer liable for debts listed in payment plan.\n- M: DISMSD/CLSD CH7 The bankruptcy petition has been withdrawn by or has not been honored by the court. Subject remains liable for his debts under the terms of the initial contract.\n- V: VOLUNTARY CH-7 Bankruptcy proceeding is initiated by the debtor's own petition to be declared bankrupt and have benefit of the law.\n"
              }
            }
          },
          "narrativeCodes": {
            "$ref": "#/components/schemas/NarrativeCodes"
          },
          "rawNarrativeCodes": {
            "type": "array",
            "minItems": 0,
            "maxItems": 2,
            "description": "Raw narrative codes included in the report",
            "items": {
              "type": "string",
              "maxLength": 2,
              "description": "Narrative code"
            }
          },
          "caseNumber": {
            "type": "string",
            "maxLength": 5,
            "description": "Case number"
          },
          "dispositionDate": {
            "description": "Disposition Date",
            "allOf": [
              {
                "$ref": "#/components/schemas/PartialDate"
              }
            ]
          },
          "dateFiled": {
            "description": "Date Last Filed",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "currentDispositionDate": {
            "description": "Contains the date of the final status of the case whether discharged or dismissed",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "verifiedDate": {
            "description": "Date of verification for any updates to the bankruptcy disposition according to court records.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "priorIntentOrDispositionCode": {
            "type": "object",
            "description": "Chapter type and status of the bankruptcy just prior to that in the Current Intent/Disposition Code field",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "dateReported": {
            "description": "Date the bankruptcy was reported to Equifax",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          }
        }
      },
      "Collection": {
        "type": "object",
        "description": "Provides information about any collection item",
        "properties": {
          "industryCode": {
            "title": "IndustryCode",
            "type": "string",
            "description": "Industry code"
          },
          "customerNumber": {
            "type": "string",
            "maxLength": 10,
            "description": "Collection agency customer number"
          },
          "clientNameOrNumber": {
            "type": "string",
            "maxLength": 30,
            "description": "Original creditor name/number"
          },
          "statusCode": {
            "type": "object",
            "description": "Current status of the collection",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "- D: UNPAID Subject has not satisfied debt.\n- F: FINANCIAL COUNSELOR Identifies that a subject is receiving professional guidance on financial matters, and is under a payment plan.\n- J: ADJUSTMENT Settlement of a debt in which full payment is not made or when the amount involved is not certain.\n- M: WAGE EARNER Chapter 13 (Debtors with regular income). This chapter allows an individual to reorganize finances and protect assets while a court approved repayment plan is in effect.\n- N: NEW LISTING Collection account which has just been turned over for collection of past due debt.\n- P: PAID Subject has satisfied debt.\n- S: ACCOUNT DISPUTED Merchant and consumer disagree on various particulars regarding merchandise, terms of agreement or amount owing.\n- T: PAYMENT Subject submits portion of money owing.\n- U: STATUS UNKNOWN Indicates status is not verified.\n- X: CHECKED As of the date reported, the balance was not paid and the account was verified at the request of the consumer via a dispute.\n- Z: IN BANKRUPTCY The legal process under the Federal Bankruptcy Act by which debtors are granted some form of relief from their financial obligations.\n"
              }
            }
          },
          "narrativeCodes": {
            "$ref": "#/components/schemas/NarrativeCodes"
          },
          "rawNarrativeCodes": {
            "type": "array",
            "minItems": 0,
            "maxItems": 2,
            "description": "Raw narrative codes included in the report",
            "items": {
              "type": "string",
              "maxLength": 2,
              "description": "Narrative code"
            }
          },
          "indicator": {
            "type": "string",
            "maxLength": 1,
            "description": "Automated Update Indicator"
          },
          "dateReported": {
            "description": "Date the collection was reported to Equifax",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "dateAssigned": {
            "description": "Date Assigned",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "originalAmount": {
            "type": "string",
            "maximum": 999999999,
            "description": "Original amount in USD"
          },
          "statusDate": {
            "description": "Current Status Date",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "balance": {
            "type": "string",
            "maximum": 999999999,
            "description": "Balance in USD"
          },
          "lastPaymentDate": {
            "description": "Date of most recent payment",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "dateOfFirstDelinquency": {
            "description": "Indicates the date of first delinquency as reported by the original creditor",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "accountNumber": {
            "type": "string",
            "maxLength": 30,
            "description": "Account number"
          },
          "accountDesignatorCode": {
            "$ref": "#/components/schemas/AccountDesignatorCode"
          },
          "creditorClassificationCode": {
            "$ref": "#/components/schemas/CreditorClassificationCode"
          }
        }
      },
      "AccountTypeCode": {
        "type": "object",
        "description": "Codes describing the account type",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code value"
          },
          "description": {
            "type": "string",
            "description": "Account Type Codes:\n  - 00: Auto\n  - 01: Unsecured\n  - 02: Secured\n  - 03: Partially Secured\n  - 04: Home Improvement\n  - 05: Federal Housing Administration Home Improvement\n  - 06: Installment Sales Contract\n  - 07: Charge Account\n  - 08: Real Estate\n  - 10: Business Loan - Individual is personally liable\n  - 11: Recreational Merchandise\n  - 12: Education Loan\n  - 13: Lease\n  - 14: Co-Maker Not Borrower (Retired 9-18-09)\n  - 15: Line of Credit\n  - 17: Manufactured Housing\n  - 18: Credit Card\n  - 19: Federal Housing Administration Real Estate Mortgage\n  - 20: Note Loan\n  - 21: Note Loan With Co-Maker\n  - 22: Secured By Household Goods\n  - 23: Secured By Household Goods/Collateral\n  - 25: Veteran’s Administration Real Estate Mortgage\n  - 26: Conventional Real Estate Mortgage\n  - 27: Real Estate Mortgage\n  - 29: Rental Agreement\n  - 34: Debt Counseling Service\n  - 37: Combined Credit Plan (represents two credit plans being reported as one account)\n  - 43: Debit Card (used when backed by a line of credit or overdraft protection)\n  - 47: Credit Line Secured\n  - 48: Collection Agency/Attorney\n  - 49: Insurance Claim Pending\n  - 50: Family Support\n  - 65: Government Unsecured Guaranteed Loan\n  - 66: Government Secured Guaranteed Loan\n  - 67: Government Unsecured Direct Loan\n  - 68: Government Secured Direct Loan\n  - 69: Government Grant\n  - 70: Government Overpayment\n  - 71: Government Fine\n  - 72: Government Fee for Services\n  - 73: Government Employee Advance\n  - 74: Government Miscellaneous Debt\n  - 75: Government Benefit\n  - 77: Returned Check\n  - 78: Installment Loan\n  - 85: Bi-Monthly Mortgage Payment (every other month)\n  - 87: Semi-Monthly Mortgage Payment (twice per month)\n  - 89: Home Equity Line of Credit\n  - 90: Medical Debt\n  - 91: Debt Consolidation\n  - 92: Utility Company\n  - 93: Child Support\n  - 94: Spouse Support\n  - 95: Attorney Fees\n  - 0A: Time Share Loan (a purchased time share)\n  - 1A: Lender Placed Insurance\n  - 2A: Secured Credit Card\n  - 3A: Auto Lease\n  - 5A: Real Estate (junior liens and non-purchase money first)\n  - 6A: Commercial Installment Loan (Individual personally liable; company is guarantor)\n  - 7A: Commercial Line of Credit (Individual personally liable; company is guarantor)\n  - 8A: Business Credit Card (Individual has primary responsibility)\n  - 9A: Secured Home Improvement\n  - 5B: Second Mortgage\n  - 6B: Commercial Mortgage Loan (Individual is personally liable; company is guarantor)\n  - 7B: Agricultural\n  - 8B: Deposit Related (overdrawn account)\n  - 9B: Business Line Personally Guaranteed\n  - 0C: Debt Buyer Account\n  - 1C: Household Goods\n  - 2C: US Department of Agriculture Real Estate Mortgage Loan\n  - 4D: Telecommunication/Cellular\n  - 6D: Home Equity\n  - 0F: Construction Loan\n  - 0G: Flexible Spending Credit Card\n  \n"
          }
        }
      },
      "AccountDesignatorCode": {
        "type": "object",
        "description": "Consumer relationship with account",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code value"
          },
          "description": {
            "type": "string",
            "description": "- A: Authorized User – This is an authorized user of this account; another individual has contractual responsibility.\n- B: On behalf of another person – The subject has financial responsibility for an account, which is used exclusively by another person.\n- C: Co-maker – The subject has co-signed for a loan, and will be responsible for payment if the borrower should default.\n- I: Individual Account – The subject of the report has contractual responsibility for this account and is primarily responsible for its payment.\n- J: Joint Account – The subject and another person (or persons) are jointly responsible for payment on this account.\n- M: Maker – The subject is responsible for payment of a loan, but a co-maker will be responsible for payment if maker defaults.\n- S: Shared, but otherwise undesignated – This code is an indication that the credit grantor knows that the subject and at least one other person share the account, but not enough information is available to designate the account as “J” or “A”.\n- T: Terminated – The subject’s relationship to this account has ended, although other parties who once shared the account may continue to maintain the account.\n- U: Undesignated\n- X: Deceased (Not returned on Trade Lines)\n"
          }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "automatedUpdateIndicator": {
            "type": "string",
            "maxLength": 1,
            "description": "Automated Update Indicator"
          },
          "monthsReviewed": {
            "type": "string",
            "maxLength": 2,
            "description": "How many months the trade was reviewed"
          },
          "accountDesignator": {
            "$ref": "#/components/schemas/AccountDesignatorCode"
          },
          "accountNumber": {
            "type": "string",
            "maxLength": 20,
            "description": "Account number"
          },
          "thirtyDayCounter": {
            "type": "integer",
            "maximum": 99,
            "description": "Number of times the consumer has been 30 days delinquent in payment"
          },
          "sixtyDayCounter": {
            "type": "integer",
            "maximum": 99,
            "description": "Number of times the consumer has been 60 days delinquent in payment"
          },
          "ninetyDayCounter": {
            "type": "integer",
            "maximum": 99,
            "description": "Number of times the consumer has been 90+ days delinquent in payment"
          },
          "previousHighRate1": {
            "type": "integer",
            "maximum": 999999999,
            "description": "First highest rate that occurred outside of the timeframe of the payment history that has beed requested (Valid Rates\\: 2-5, 8 and 9)\n"
          },
          "previousHighDate1": {
            "$ref": "#/components/schemas/PartialDate"
          },
          "previousHighRate2": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Second highest rate that occurred outside of the timeframe of the payment history that has beed requested (Valid Rates\\: 2-5, 8 and 9)\n"
          },
          "previousHighDate2": {
            "$ref": "#/components/schemas/PartialDate"
          },
          "previousHighRate3": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Third highest rate that occurred outside of the timeframe of the payment history that has beed requested (Valid Rates\\: 2-5, 8 and 9)\n"
          },
          "previousHighDate3": {
            "$ref": "#/components/schemas/PartialDate"
          },
          "24MonthPaymentHistory": {
            "type": "array",
            "minItems": 0,
            "maxItems": 25,
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "maxLength": 1
                },
                "description": {
                  "type": "string",
                  "description": "The most recent payment history on the trade for the last 24 months\nIt's an optional feature offered by Equifax. Please contact your Equifax Sales Associate for additional information and activation.\n"
                }
              }
            }
          },
          "customerName": {
            "type": "string",
            "maxLength": 20,
            "description": "Customer name"
          },
          "customerNumber": {
            "type": "string",
            "maxLength": 10,
            "description": "Customer number"
          },
          "dateReported": {
            "description": "Represents the \"as of\" date of the most recent update received from the data furnisher. Accounts may continue to be updated by the data furnisher even after they are closed, paid out or become severely delinquent (charge off, repossession, etc.).\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "dateOpened": {
            "description": "Date account originally opened",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "highCredit": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Highest outstanding balance or original amount"
          },
          "creditLimit": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Highest available credit limit"
          },
          "balance": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Account balance"
          },
          "pastDueAmount": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Amount past due on an account (late)"
          },
          "portfolioTypeCode": {
            "type": "object",
            "description": "Describes the payment arrangement of the account (revolving, open, installment, line of credit or mortgage)",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "Portfolio Type Codes:\n  - C: Line of Credit (payment amounts based on the outstanding balance)\n  - I: Installment (fixed number of payments)\n  - M: Mortgage (fixed number of payments – usually for real estate)\n  - O: Open Account (entire balance is due upon demand)\n  - R: Revolving (payment amounts based on the outstanding balance)\n  - Blank: No Portfolio Type available\n  \n"
              }
            }
          },
          "rateStatusCode": {
            "type": "object",
            "description": "Current status or rating of the account",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "\n- 0: Too new to rate; Approved but not used\n   :\n- 1: Pays account as agreed\n   :\n- 2: Not more than two payments past due\n   :\n- 3: Not more than three payments past due\n   :\n- 4: Not more than four payments past due\n   :\n- 5: At least 120 days or more than four payments past due\n   :\n- 6: Collection account (Enhanced Trade Only)\n   :\n- 7: Included in Chapter 13\n   :\n- 8: Repossession\n   :\n- 9: Charge-off\n- Blank: No rate reported\n"
              }
            }
          },
          "rate": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "maxLength": 9
              },
              "description": {
                "type": "string"
              }
            }
          },
          "lastActivityDate": {
            "type": "string",
            "description": "Contains the date of last activity",
            "maxLength": 6,
            "example": [
              "MMYYYY"
            ]
          },
          "narrativeCodes": {
            "$ref": "#/components/schemas/NarrativeCodes"
          },
          "rawNarrativeCodes": {
            "type": "array",
            "description": "Raw codes for the narratives",
            "minItems": 0,
            "maxItems": 4,
            "items": {
              "type": "string",
              "maxLength": 2,
              "description": "Narrative code"
            }
          },
          "accountTypeCode": {
            "$ref": "#/components/schemas/AccountTypeCode"
          },
          "lastPaymentDate": {
            "description": "Date of the most recent payment.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "closedDate": {
            "description": "Contains the date the account was closed",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "dateMajorDelinquencyFirstReported": {
            "description": "If current Rate/Status code is 6, 7, 8, 9, M, Z or if trade contains narrative code 081 (foreclosure), this date will reflect the first time that Rate/Status or narrative code was reported.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "actualPaymentAmount": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Payment actually received for a reporting period"
          },
          "scheduledPaymentAmount": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Contractual amount due for a payment period. (The figure in this field should be the monthly amount due regardless of the actual payment frequency.) \n"
          },
          "termsFrequencyCode": {
            "type": "object",
            "description": "Reflects how often payments are due",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "- B: Biweekly (due every 2 weeks)\n- D: Deferred\n- E: Semi-monthly (due twice a month)\n- L: Bi-monthly (due every 2 months)\n- M: Monthly (due every month)\n- P: Single Payment Loan\n- Q: Quarterly (due every 3 months)\n- S: Semi-annually (due twice a year)\n- T: Tri-annually (due every 4 months)\n- W: Weekly (due every week)\n- Y: Annually (due every year)\n"
              }
            }
          },
          "termsDurationCode": {
            "type": "object",
            "description": "Amount of time to repay the loan",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 4,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "Terms duration codes \n  - D: Days\n  - M: Months\n  - Y: Years\n"
              }
            }
          },
          "purchasedFromOrSoldCreditorIndicator": {
            "type": "object",
            "description": "Purchased From/Sold To/Original Creditor Name is the purchaser, seller or original creditor",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "Purchased From/Sold To/Original Creditor Values\n  - O: Original Creditor\n  - P: Purchased From\n  - S: Sold To\n"
              }
            }
          },
          "purchasedFromOrSoldCreditorName": {
            "type": "string",
            "maxLength": 30,
            "description": "Denotes who the account was either purchased from or sold to or the Original Creditor’s name"
          },
          "creditorClassificationCode": {
            "$ref": "#/components/schemas/CreditorClassificationCode"
          },
          "activityDesignatorCode": {
            "type": "object",
            "description": "Describes the final state of the account.",
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 1,
                "description": "Code value"
              },
              "description": {
                "type": "string",
                "description": "- B: Paid and Closed\n- C: Closed\n- D: Transfer/Sold/Paid\n- L: Lost/Stolen\n- P: Paid\n- R: Refinanced\n- T: Transfer/Sold\n"
              }
            }
          },
          "originalChargeOffAmount": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Amount originally charged to loss by the creditor"
          },
          "deferredPaymentStartDate": {
            "description": "Contains the date the first payment is due for deferred loans",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "ballonPaymentAmount": {
            "type": "integer",
            "maximum": 999999999,
            "description": "Amount of the balloon payment"
          },
          "ballonPaymentDueDate": {
            "description": "Contains the date the balloon payment is due",
            "allOf": [
              {
                "$ref": "#/components/schemas/FullDate"
              }
            ]
          },
          "mortgageIDNumber": {
            "type": "string",
            "maxLength": 18,
            "description": "Number assigned to a mortgage loan that remains constant throughout the life of the loan. The MIN indicates that the loan is registered with the Mortgage Electronic Registration Systems, Inc., the electronic registry for tracking the ownership of mortgage rights.\n"
          },
          "paymentHistory1to24": {
            "type": "array",
            "minItems": 0,
            "maxItems": 25,
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "maxLength": 1
                },
                "description": {
                  "type": "string",
                  "description": "The valid values for the standard 24, 36 and 48 Month Payment History are:\n \n - Blank: not populated based on the Date Open (payment history will only be populated for each of the months that the account has been open) \n - E: Zero balance and current account  \n - \\*: Rate/Status was not available for that month\n - 2 – 6, 8 and 9 (See Rate/Status Codes for values)\n - 6: Valid value for Payment History\n"
                }
              }
            }
          },
          "paymentHistory25to36": {
            "type": "array",
            "minItems": 0,
            "maxItems": 13,
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "maxLength": 1
                },
                "description": {
                  "type": "string",
                  "description": "The valid values for the standard 24, 36 and 48 Month Payment History are:\n - Blank: not populated based on the Date Open (payment history will only be populated for each of the months that the account has been open)\n - E: Zero balance and current account\n - \\*: Rate/Status was not available for that month\n - 2 - 6, 8 and 9 (See Rate/Status Codes for values)\n - 6: Valid value for Payment History\n"
                }
              }
            }
          },
          "paymentHistory37to48": {
            "type": "array",
            "minItems": 0,
            "maxItems": 13,
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "maxLength": 1
                },
                "description": {
                  "type": "string",
                  "description": "The valid values for the standard 24, 36 and 48 Month Payment History are:\n - Blank: not populated based on the Date Open (payment history will only be populated for each of the months that the account has been open)\n - E: Zero balance and current account\n - \\*: Rate/Status was not available for that month\n - 2 – 6, 8 and 9 (See Rate/Status Codes for values)\n - 6: Valid value for Payment History\n"
                }
              }
            }
          },
          "previousHighRatePaymentHistory": {
            "type": "string",
            "maxLength": 1
          },
          "previousHighDatePaymentHistory": {
            "$ref": "#/components/schemas/PartialDate"
          },
          "dimensionsDataStartDate": {
            "$ref": "#/components/schemas/PartialDate"
          },
          "dimensionsNumberOfMonths": {
            "type": "string",
            "maxLength": 2,
            "description": "Number of months of Dimensions data requested"
          },
          "dimension": {
            "type": "array",
            "description": "Information over the most recent 24 months of historical data. There may be gaps of historical Dimensions data if that month (or field) is not available\nDimensions Data is an optional feature offered by Equifax. Please contact your Equifax Sales Associate for additional information and activation.\n",
            "items": {
              "type": "object",
              "properties": {
                "dimensionsBalance": {
                  "type": "integer",
                  "maximum": 999999999,
                  "description": "Balance during the month being reported"
                },
                "dimensionsActualPaymentAmount": {
                  "type": "integer",
                  "maximum": 999999999,
                  "description": "Payment actually received for a reporting period"
                },
                "dimensionsScheduledPaymentAmount": {
                  "type": "integer",
                  "maximum": 999999999,
                  "description": "Contractual amount due for a payment period. (The figure in this field should be the monthly amount due regardless of the actual payment frequency.)"
                },
                "dimensionsLastPaymentDate": {
                  "description": "Date of the most recent payment",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FullDate"
                    }
                  ]
                },
                "dimensionsHighCredit": {
                  "type": "integer",
                  "maximum": 999999999,
                  "description": "Highest outstanding balance or original amount"
                },
                "dimensionsCreditLimit": {
                  "type": "integer",
                  "maximum": 999999999,
                  "description": "Highest available credit amount"
                },
                "dimensionsPastDueAmount": {
                  "type": "integer",
                  "maximum": 999999999,
                  "description": "Current amount overdue on a trade"
                },
                "dimensionsNarrativeCodes": {
                  "$ref": "#/components/schemas/NarrativeCodes"
                },
                "dimensionsRawNarrativeCodes": {
                  "type": "array",
                  "description": "Raw Dimensions Data naratives. It contains up to 4 narratives",
                  "minItems": 0,
                  "maxItems": 4,
                  "items": {
                    "type": "string",
                    "maxLength": 3,
                    "description": "Narrative code"
                  }
                },
                "dimensionsAccountDesignatorCode": {
                  "$ref": "#/components/schemas/AccountDesignatorCode"
                },
                "dimensionsAccountTypeCode": {
                  "$ref": "#/components/schemas/AccountTypeCode"
                }
              }
            }
          }
        }
      },
      "OFACAlerts": {
        "type": "array",
        "minItems": 0,
        "maxItems": 5,
        "description": "It will contain data from the Compliance Data Center (CDC)\n\nMultiple reports on the same consumer are not available with OFAC Alert. Only the first report is returned. OFAC Alert can be only returned with a Consumer Report and when a No‐Hit on the credit file occurs.\n",
        "items": {
          "type": "object",
          "properties": {
            "revisedLegalVerbiageIndicator": {
              "type": "string",
              "maxLength": 1,
              "description": "A value of 2 indicates a revised legal verbiage will be returned"
            },
            "memberFirmCode": {
              "type": "string",
              "maxLength": 4,
              "description": "Firm Code from CDC"
            },
            "cdcTransactionDate": {
              "description": "Date of Compliance Data Center transaction",
              "allOf": [
                {
                  "$ref": "#/components/schemas/FullDate"
                }
              ]
            },
            "cdcTransactionTime": {
              "type": "string",
              "maxLength": 6,
              "example": [
                "HHMMSS"
              ],
              "description": "Time of Compliance Data Center transaction"
            },
            "transactionType": {
              "type": "string",
              "maxLength": 1,
              "description": "A value of O indicates OFAC only"
            },
            "cdcResponseCode": {
              "type": "string",
              "maxLength": 1,
              "description": "Indicates CDC database search result"
            },
            "cdcProblemCode": {
              "type": "string",
              "maxLength": 2,
              "description": "Problem code indicates on which government list the entry appeared"
            },
            "matchCodes": {
              "type": "string",
              "maxLength": 6,
              "description": "Match Code identifies which of the input ID information matched the CDC database ID information for the entry being reported. The presence of each code indicates a match on the ID item\n"
            },
            "problemReportDate": {
              "description": "The date the problem was reported\n",
              "allOf": [
                {
                  "$ref": "#/components/schemas/FullDate"
                }
              ]
            },
            "issueSource": {
              "type": "string",
              "maxLength": 20,
              "description": "When OFAC information is being reported, this field may contain the blocked country name relating to the match (Belarus, Iran, etc) or a code indicating the OFAC program associated with the match"
[...]
